<body class="bg">
<div fxLayoutAlign="center center" fxFlexFill >
    <mat-card fxflex="30">
        <mat-toolbar color="primary">Login Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field>
              <input matInput type="email" #email placeholder="username or email" name="email" >
            </mat-form-field>
          
            <mat-form-field >
              
              <input matInput type="password" #password placeholder="password">
            </mat-form-field>
            <button mat-raised-button type="submit" routerLink="/search">login</button>
          </form>
          
    </mat-card>
</div>
</body>