<div>
    <mat-toolbar color="primary" fxFlex="80" >
        
        <button mat-button routerLink="/home">Home page</button>
        <button mat-button routerLink="/login">login</button>
        <button mat-button routerLink="/admin">Admin</button>
        <button mat-button routerLink="/searchflights">Search Flights</button>
    </mat-toolbar>
    <mat-toolbar color="primary" fxFlex="20" >

        <button mat-button routerLink="/register">Sign Up</button>
        <button mat-button routerLink="/home">logout</button>
    </mat-toolbar>
</div>
  
<router-outlet></router-outlet>


