<body>
<div fxLayoutAlign="center center" >
    <mat-card fxflex="30">
        <mat-toolbar color="primary">Admin Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field>
              <input matInput type="email"[(ngModel)]="username" name="username" placeholder="username" >
            </mat-form-field>
          
            <mat-form-field >
              
              <input matInput type="password" [(ngModel)]="password" name="password" placeholder="password">
            </mat-form-field>
            <button mat-raised-button type="submit" (click)="onClick()">login</button>
          </form>
          
    </mat-card>
</div>

</body>