<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxflex="30">
        <mat-toolbar color="primary">Admin Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field>
              <input matInput type="email" placeholder="username" >
            </mat-form-field>
          
            <mat-form-field >
              
              <input matInput type="password" placeholder="password">
            </mat-form-field>
            <button mat-raised-button type="submit" routerLink="/dashboard">login</button>
          </form>
          
    </mat-card>
</div>