
  <div class="pic1">
    <div class="ptext">
      <h3></h3>
    </div>
    </div>
    <section class="section section-light">
      
      <p><strong>what are the advantages of online flight booking?</strong><br>

        Through online air ticket booking you can easily compare prices of multiple airlines to get your air tickets at lowest rates. Also, it is easy to do online flight booking as multiple payment options are available on websites.</p>
    </section>
    <div class="pic2">
      <div class="ptext">
        <span class="border">
           
        </span>
      </div>
      </div>
      <section class="section section-dark">
        
        <p><strong>when should I book to get best flight ticket prices?</strong><br>

          For best flight ticket prices and flight ticket offers, it is recommended to book at least 3 to 4 weeks in advance for domestic air tickets. For international flight ticket it is recommended to book at least 7 to 8 weeks in advance, so that you can get the best flight ticket prices.</p>
      </section>
      <div class="pic3">
        <div class="ptext">
          <h3>ABOUT US</h3>
        </div>
        </div>
