    <div class="card text-white bg-primary mb-3" style="max-width: 20rem; top: 20px;" id="leftpane">
  <div class="card-header">Register Here!!</div>
  <div class="card-body">
      
      <form #register='ngForm' (ngSubmit)='onSubmit(register)'>
          <div id="register" ngModelGroup #register='ngModelGroup'>
              <div class="form-group">
                  <label for="name">Name</label>
                  <input 
                      type="text" 
                      id="name" 
                      class="form-control"
                      ngModel
                      name="name"
                      required
                      #name='ngModel'>
                      <span class="help-block" *ngIf='!name.valid && name.touched'>Please enter your name.</span>
              </div>

              <div class="form-group">
                  <label for="age">Age</label>
                  <input 
                      type="number" 
                      id="age" 
                      class="form-control"
                      ngModel
                      name="age"
                      required
                      #age='ngModel'>
                      <span class="help-block" *ngIf='!age.valid && age.touched'>Please enter your Age.</span>
              </div>

              <div class="form-group">
                  <label for="email">Email</label>
                  <input 
                      type="email" 
                      id="email" 
                      class="form-control"
                      ngModel
                      name="email"
                      required
                      email
                      #email='ngModel'>
                      <span class="help-block" *ngIf='!email.valid && email.touched'>Please enter your email.</span>
                      
              </div>

              <div class="form-group">
                  <label for="password">Password</label>
                  <input 
                      type="password" 
                      id="password" 
                      class="form-control"
                      ngModel
                      name="password"
                      required
                      #password='ngModel'>
                      <span class="help-block" *ngIf='!password.valid && password.touched'>Please enter your password.</span>
              </div>

              <div class="form-group">
                  <label for="conpassword">Confirm Password</label>
                  <input 
                      type="password" 
                      id="conpassword" 
                      class="form-control"
                      ngModel
                      name="conpassword"
                      required
                      #conpassword='ngModel'>
                      <span class="help-block" *ngIf='!conpassword.valid && conpassword.touched'>Please confirm your password.</span>
              </div>
          </div>
          <br>
          <div class="submit">
              <button 
                  class="btn btn-outline-secondary btn-lg btn-block" 
                  type="submit"
                  [disabled]='!register.valid' >Submit</button>
          </div>
      </form>
  </div>
</div>
